.modalViewport {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
}
.modalWrapper {
  width: fit-content;
  border-radius: 20px;
  padding: 20px;
  background-color: #1e293b;
}
.individualWrapper {
  margin: 10px 0px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}
.individualWrapper button {
    background-color: #13b4f4;
    border: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #1e293b;
    min-width: 60px;
}