.navbarwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left h1 {
    margin: 5px 20px;
}
.right {
    display: flex;
    align-items: center;
    margin: 5px 20px;
}
.right p {
    margin-left: 20px;
}
.totalCount {
    background-color: #13b4f4;
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    cursor: default;
}

@media only screen and (max-width: 768px) {
 .navbarwrapper {
    display: block;
 }
 .right {
    margin:  5px 0px;
 }
 .right p:last-of-type {
    display: none;
 }
}